table{
  border: solid;
  border-width: thin;
}
th{
  border: solid;
  border-width: thin;
}
td{
  border: solid;
  border-width: thin;
}
#inner-content{
  background: #00FFFF;
  padding-left: 12.5%;
}
#outer-content{
  background: pink;
  width: 75%;
  left: 0px;
  padding: 20px;
}
tbody tr:nth-of-type(odd){
  background:#00FFFF;
}
tbody tr:nth-of-type(even){
  background:#00FF00;
}
form div{
  padding: 2px;
  border: solid;
  border-width: thin;
}
